html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#box {
    padding: 5%;
}

.aolado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 7vw;
    font-family: 'Corbel', Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 3%;
}

label {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-top: 1%;
    width: 100%;
}

.botao {
    margin-top: 1%;
    border: none;
    width: 25%;
    height: 3vw;
    font-family: 'Corbel', Helvetica, sans-serif;
    font-weight: bolder;
}

#lista-tarefas {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

#inAdd {
    background-color: rgb(96, 160, 0);
    color: white;
}

#inAdd:hover {
    background-color: rgb(65, 109, 0);
}

#inSelec {
    background-color: rgb(42, 100, 207);
    color: white;
}

#inSelec:hover {
    background-color: rgb(31, 67, 134);
}

#inRetirar {
    background-color: rgb(201, 43, 43);
    color: white;
}

#inRetirar:hover {
    background-color: rgb(141, 35, 35);
}

#inGrava {
    background-color: rgb(204, 146, 0);
    color: white;
}

#inGrava:hover {
    color: white;
    background-color: rgb(202, 127, 14);
}

.tarefa-normal {
    color: black;
}

.tarefa-selecionada {
    background-color: rgb(42, 100, 207);
    color: rgb(255, 255, 255);
    border-left: 0.2em solid rgb(31, 67, 134);
}